.nav_bar-item {
    display: inline-block;
    position: relative;
}

.nav_bar-item a {
    display: block;
    padding: 20px 25px;
    color: #FFF;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
}

.dropdown li {
    display: block;
}

.dropdown {
    width: 100%;
    background: cadetblue;
    position: absolute;
    z-index: 999;
    display: none;
}

.nav_bar-item a:hover {
    background: palevioletred;

}

.nav_bar-item:hover .dropdown {
    display: block;
}